.user-form {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 220px;
    height: 140px;
}
.user-form input {
    display: block;
    margin-bottom: 10px;
}
.user-form .title {
    margin-bottom: 10px;
    font-size: 16px;
}
.user-form input[type=submit] {
    float: left;
}
.user-form .register-text {
    float: right;
    margin-top: 5px;
}